# Generated platform internal files
.snowflake/
.vercel/

# Environment variables
.env
.env.*
!.env.example
.env*.local

# Common ignores
node_modules
.next/
.DS_Store
backend/storage/
frontend/.env.local
frontend/tsconfig.tsbuildinfo
